@page "/specialoffers"

<h3>SpecialOffersPage</h3>

<CascadingValue Name="DealName" Value=Value >

<DealComponent></DealComponent>
</CascadingValue>

@code {
    public string Value { get; set; } = "thrashing thrusday";
}
